---
import { Icon } from 'astro-icon'
import Card from '../common/Card.astro'
import Team from './teams/Team.astro'
---

<Card>
	<div class="text-2xl font-extrabold mb-4">Teams</div>
	<div class="flex flex-col gap-4">
		<Team name="7th Beat Games" org="7thbeatgames" year="2023~">
			<p slot="description">Working as ADOFAI dev intern</p>
			<div slot="links" class="flex gap-4">
				<a href="https://7thbe.at" target="_blank" rel="noreferrer">
					<Icon name="world" size={24} />
				</a>
				<a href="https://store.steampowered.com/developer/7thbeat" target="_blank" rel="noreferrer">
					<Icon name="brand-steam" size={24} />
				</a>
			</div>
		</Team>
		<Team name="Team Crescendo" org="team-crescendo" year="2021~">
			<p slot="description">Working as xsi dev</p>
			<div slot="links" class="flex gap-4">
				<a href="https://team-crescendo.me" target="_blank" rel="noreferrer">
					<Icon name="world" size={24} />
				</a>
			</div>
		</Team>
		<Team name="ADOFAI.gg" org="adofai-gg" year="2021~">
			<p slot="description">Working as frontend, mod dev</p>
			<div slot="links" class="flex gap-4">
				<a href="https://adofai.gg" target="_blank" rel="noreferrer">
					<Icon name="world" size={24} />
				</a>
			</div>
		</Team>
		<Team name="UniqueCode" org="uniquecodegit" year="2021">
			<p slot="description">Worked as UniqueBots dev</p>
		</Team>
	</div>
</Card>
