---
import Card from '../common/Card.astro'
import TimelineItem from './timeline/TimelineItem.astro'
---

<Card>
	<div class="text-2xl font-extrabold mb-4">Timeline</div>
	<ol class="relative border-l border-ctp-surface1">
		<TimelineItem date="Apr. 2023" title="Joined 7th Beat Games">
			Joined 7th Beat Games as intern
		</TimelineItem>
		<TimelineItem date="Aug. 2022" title="Released Xsi v2" />
		<TimelineItem date="Mar. 2022" title="Released Chosung Quiz v2" />
		<TimelineItem date="Feb. 2022" title="Released Chosung Quiz" />
		<TimelineItem date="Dec. 2021" title="Joined Team Crescendo" />
		<TimelineItem date="Jul. 2021" title="Joined ADOFAI.gg" />
		<TimelineItem date="Jun. 2021" title="Joined Kimusoft" />
		<TimelineItem date="Mar. 2021" title="Released qse bot" />
		<TimelineItem date="Jan. 2021" title="Made a first release of Command.TS" last />
	</ol>
</Card>
