---
import Card from '../components/common/Card.astro'
import PaddedContainer from '../components/common/PaddedContainer.astro'
import ProfileCard from '../components/profile/ProfileCard.astro'
import Teams from '../components/profile/Teams.astro'
import Timeline from '../components/profile/Timeline.astro'
import '../stylesheets/main.scss'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Paring World</title>
	</head>
	<body>
		<PaddedContainer>
			<div class="flex flex-col gap-4">
				<ProfileCard />
				<Teams />
				<Timeline />
				<Card>
					<div class="flex">
						<div class="flex-grow">2023 &copy; paring</div>
						<div>built with ❤️</div>
					</div>
				</Card>
			</div>
		</PaddedContainer>
	</body>
</html>
